* {
    font-family: "Mukta Vaani", sans-serif;
    color: #fff;

    --border-color: rgb(59, 72, 92);
    --bg-primary-color: rgb(30, 41, 59);
    --bg-secondary-color: rgb(19, 28, 46);
    --button-hover-color: rgb(25, 35, 56);
    --button-active-color: lightblue;
}

body {
    background-color: var(--bg-primary-color);
    margin: 0;
}

h1 {
    margin-top: 0px;
}

h2 {
    margin-bottom: .2em;
}

hr {
    width: calc(100% + 40px);
    position: relative;
    transform: translateX(-20px);
    height: 1px;
    border-width: 0;
    background-color: var(--border-color);
    margin: 1em 0;
}

#container {
    max-width: 960px;
    min-height: calc(100vh - 40px);
    height: calc(100% + 400px);
    margin: auto;
    background-color: rgb(41, 53, 72);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    /* border-radius: 4px; */
    padding: 20px;
}

input[type="text"], select, textarea {
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    width: clamp(100px, 300px, 80%);
    max-width: 100%;
    margin-bottom: 1em;
    background-color: var(--bg-secondary-color);
    outline: none;
}

button {
    padding: .2em .6em;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--bg-secondary-color);
}

button:hover {
    background-color: var(--button-hover-color);
}

button:active { 
    border-color: var(--button-active-color);
}

#timeframes-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

#timeframes-container input[type="radio"] {
    margin-right: .3em;
}

#timeframes-container *:nth-child(2n) {
    margin-right: 2em;
}


label[for="preset"] {
    margin-left: 5px;
}


.mukta-vaani-extralight {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.mukta-vaani-light {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.mukta-vaani-regular {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.mukta-vaani-medium {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.mukta-vaani-semibold {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.mukta-vaani-bold {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.mukta-vaani-extrabold {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 800;
    font-style: normal;
}
  