* {
    font-family: "Mukta Vaani", sans-serif;
    color: #fff;

    --border-color: rgb(59, 72, 92);
    --bg-secondary-color: rgb(19, 28, 46);
}

body {
    background-color: rgb(30, 41, 59);
    margin: 0;
}

h1 {
    margin-top: 0px;
}

h2 {
    margin-bottom: .2em;
}

#container {
    max-width: 960px;
    min-height: 200px;
    margin: auto;
    background-color: rgb(41, 53, 72);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    /* border-radius: 4px; */
    padding: 20px;
}

input[type="text"], select, textarea {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    width: clamp(100px, 300px, 80%);
    max-width: 100%;
    margin-bottom: 1em;
    background-color: var(--bg-secondary-color);
    outline: none;
}

#timeframes-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

#timeframes-container input[type="radio"] {
    margin-right: .3em;
}

#timeframes-container *:nth-child(2n) {
    margin-right: 2em;
}


label[for="preset"] {
    margin-left: 5px;
}



.mukta-vaani-extralight {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.mukta-vaani-light {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.mukta-vaani-regular {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.mukta-vaani-medium {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.mukta-vaani-semibold {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.mukta-vaani-bold {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.mukta-vaani-extrabold {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 800;
    font-style: normal;
}
  